[Unit]
Description=pa11y natera

[Service]
User=Ubuntu
Group=Ubuntu
Type=forking
ExecStart=/usr/local/bin/forever start -al /home/ubuntu/forever.log -ao /home/ubuntu/out.log -ae /home/ubuntu/err.log /home/ubuntu/pa11y_ubuntu_18.04_LTS/pa11y-dashboard/index.js
ExecStop=/usr/local/bin/forever stop /home/ubuntu/pa11y_ubuntu_18.04_LTS/pa11y-dashboard/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target